# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Data / model besar
*.pkl
*.joblib
*.csv

# System files
.DS_Store
Thumbs.db
